@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9f9f9;
}


[data-amplify-authenticator]{
height: 100vh !important;
}
.amplify-button--primary:hover {
  background-color: #C4B454 !important;
}

.amplify-field__show-password{
  background-color: #C4B454 !important;
}